.icon-a {
  margin-right: 0.15rem;
  color: unset;
  text-decoration: none;
  white-space: nowrap;
}

.icon-a .icon {
  font-size: 0.9rem;
  margin-bottom: -0.15rem;
}

.icon-a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.0625rem;
  width: 100%;
  height: 0.0625rem;
  border-bottom: 0.0625rem solid;
}
