---
import BaseLayout from '../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md')
  const tags = Array.from(new Set(allPosts.map((item) => item.frontmatter.tags).flat()))

  return tags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag))

    return { params: { tag }, props: { posts: filteredPosts } }
  })
}

const { tag } = Astro.params
const { posts } = Astro.props
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>

  <ul></ul>
</BaseLayout>
