---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlockTitle from '../../components/BlockTitle.astro'

const allPosts = await Astro.glob('../posts/*.md')

const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())]
const pageTitle = 'Tag Index'
---

<BaseLayout pageTitle={pageTitle}>
  <BlockTitle title="标签" backgroundText="Tags" />
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
          <span>3</span>
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  .tags {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-right: 2rem;
    padding: 0 1.25rem;
    border: 1px solid #090909;
    border-radius: 4px;
    background: #ffffff;
  }

  .tag a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
  }

  .tag span {
    position: absolute;
    right: -1rem;
    display: block;
    height: 3.3125rem;
    padding: 0 0.3rem;
    background: #090909;
    line-height: 3.3125rem;
    color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 6px #5d5d5d;
  }
</style>
