---
import dayjs from 'dayjs'
import BaseLayout from '../layouts/BaseLayout.astro'
import BlockTitle from '../components/BlockTitle.astro'
import YearBlogList from '../components/YearBlogList.astro'
import Social from '../components/Social.astro'

const allPosts = await Astro.glob('../pages/posts/*.md')
const postCollects = {}
allPosts.forEach((item) => {
  const { pubDate } = item.frontmatter
  const year = dayjs(pubDate).year()
  if (postCollects[year]) {
    postCollects[year].push(item)
  } else {
    postCollects[year] = [item]
  }
})

const pageTitle = 'AqingCyan'
---

<BaseLayout pageTitle={pageTitle}>
  <BlockTitle title="关于我" backgroundText="AqingCyan" />
  <Social />
  <p class="about-me">
    这是一段自我介绍，如果可以的话，我想通过这样的方式让你了解我。这里放置着我这些年沉淀的经验，如果你喜欢，可以将他们带走。这是一段自我介绍，如果可以的话，我想通过这样的方式让你了解我。这里放置着我这些年沉淀的经验，如果你喜欢，可以将他们带走。这是一段自我介绍，如果可以的话，我想通过这样的方式让你了解我。这里放置着我这些年沉淀的经验……….
  </p>
  <BlockTitle title="博客" backgroundText="Blogs" />
  {
    Object.entries(postCollects)
      .sort((postOne, postTwo) => parseInt(postTwo[0]) - parseInt(postOne[0]))
      .map((item) => <YearBlogList year={item[0]} thisYearList={item[1]} />)
  }
</BaseLayout>

<style>
  .about-me {
    margin: 0 0 3rem 0;
    font-size: 1rem;
    line-height: 2.5rem;
    color: var(--primary-color);
  }
</style>
