---
import Hamburger from './Hamburger.astro'
import Navigation from './Navigation.astro'
import ThemeIcon from './ThemeIcon.astro'
import logoImg from '../logo.png'
---

<header>
  <nav>
    <!-- <Hamburger /> -->
    <!-- <ThemeIcon /> -->
    <img class="nav-logo" src={logoImg} alt="logoImg" />
    <Navigation />
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: center;
    height: 6rem;
    width: 100%;
    margin: 0 auto;
  }

  .nav-logo {
    position: fixed;
    top: 0.5rem;
    left: 2rem;
    width: 5rem;
    height: 5rem;
    transition: opacity 0.2s;
  }

  @media screen and (max-width: 980px) {
    .nav-logo {
      opacity: 0;
      pointer-events: none;
    }
  }
</style>
