---
import Navigation from './Navigation.astro'
import logoImg from '../images/logo.png'
---

<header>
  <nav>
    <img class="nav-logo" src={logoImg} alt="logoImg" id="logo" />
    <Navigation />
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: flex-end;
    height: 6rem;
    width: 100%;
  }

  .nav-logo {
    position: fixed;
    top: 0.6rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
    transition: opacity 0.2s;
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    .nav-logo {
      opacity: 0;
      pointer-events: none;
    }
  }
</style>

<script>
  document.getElementById('logo').addEventListener('click', () => window.scrollTo({ top: 0, behavior: 'smooth' }))
</script>
