---
import lightMode from '../images/light.svg'
import darkMode from '../images/dark.svg'
---

<div class="nav-links">
  <a href="/">文章<em>!</em>BLOG</a>
  <a href="/weekly">周记<em>!</em>WEEK</a>
  <a href="/tags">标签<em>!</em>TAGS</a>

  <img class="mode-icon" id="themeToggleOne" src={lightMode} alt="lightMode" />
  <img class="mode-icon" id="themeToggleTwo" src={darkMode} alt="darkMode" />
</div>

<style>
  .nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .nav-links a {
    margin-right: 3rem;
    color: var(--link-color);
    text-decoration: none;
  }

  .nav-links a em {
    margin: 0 0.15rem;
  }

  .nav-links .mode-icon {
    width: 1.687rem;
    height: 1.687rem;
    margin-right: 2rem;
    cursor: pointer;
  }

  #themeToggleOne {
    display: block;
  }

  #themeToggleTwo {
    display: none;
  }

  @media screen and (max-width: 790px) {
    .nav-links a {
      display: none;
    }
  }
</style>

<script>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme')
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark'
    }
    return 'light'
  })()

  if (theme === 'light') {
    document.documentElement.classList.remove('dark')
    document.getElementById('themeToggleOne').style.display = 'block'
    document.getElementById('themeToggleTwo').style.display = 'none'
  } else {
    document.documentElement.classList.add('dark')
    document.getElementById('themeToggleOne').style.display = 'none'
    document.getElementById('themeToggleTwo').style.display = 'block'
  }

  window.localStorage.setItem('theme', theme)

  const handleToggleClick = () => {
    const element = document.documentElement
    element.classList.toggle('dark')

    const isDark = element.classList.contains('dark')
    localStorage.setItem('theme', isDark ? 'dark' : 'light')
  }

  document.getElementById('themeToggleOne').addEventListener('click', () => {
    handleToggleClick()
    document.getElementById('themeToggleOne').style.display = 'none'
    document.getElementById('themeToggleTwo').style.display = 'block'
  })
  document.getElementById('themeToggleTwo').addEventListener('click', () => {
    handleToggleClick()
    document.getElementById('themeToggleOne').style.display = 'block'
    document.getElementById('themeToggleTwo').style.display = 'none'
  })
</script>
