---
import Hamburger from './Hamburger'
import logoImg from '../images/logo.png'
import ModeSwitch from './ModeSwitch'
---

<>
  <div class="nav-links">
    <img class="nav-logo" src={logoImg} alt="logoImg" id="logo" />

    <a href="/">首页<em>!</em>HOME</a>
    <a href="/weekly">周记<em>!</em>WEEK</a>
    <a href="/tags">标签<em>!</em>TAGS</a>

    <div class="hamburger-box">
      <Hamburger client:load />
      <ModeSwitch client:load />
    </div>
  </div>
</>

<style>
  .nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .nav-links .nav-logo {
    display: none;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
  }

  .nav-links a {
    margin-right: 3rem;
    color: var(--link-color);
    text-decoration: none;
  }

  .nav-links a em {
    margin: 0 0.15rem;
  }

  .hamburger-box {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 900px) {
    .nav-links {
      justify-content: space-between;
      width: 100%;
      padding: 0 1.8rem;
    }

    .nav-links .nav-logo {
      display: block;
    }
  }

  @media screen and (max-width: 790px) {
    .nav-links a {
      display: none;
    }
  }
</style>
