---
import email from '../images/email-icon.svg'
import tweet from '../images/tweet-icon.svg'
import github from '../images/github-icon.svg'
---

<div class="social-container">
  <img src={email} alt="email" />
  <img src={github} alt="github" />
  <img src={tweet} alt="tweet" />
</div>

<style>
  .social-container {
    position: absolute;
    top: 6.45rem;
    left: -7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-container img {
    width: 2rem;
    height: 2rem;
    margin-bottom: 2.5rem;
  }

  @media screen and (max-width: 900px) {
    .social-container {
      display: none;
    }
  }
</style>
