---
import dayjs from 'dayjs'
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1 class="blog-title">{frontmatter.title}</h1>
  <p class="blog-info">
    By <em>{frontmatter.author}</em>
    <span class="date">{dayjs(frontmatter.pubDate).format('YYYY/MM/DD')}</span>
    {frontmatter.tags.map((tag) => <span class="tag">{tag}</span>)}
  </p>
  <article class="article"><slot /></article>
</BaseLayout>

<style is:global>
  .blog-title {
    margin: 0;
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--primary-color);
  }

  .blog-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 0 2.5rem;
    font-size: 0.8125rem;
    color: var(--primary-color);
  }

  .blog-info .date {
    margin: 0 0.5rem;
    font-family: 'ABeeZee';
    color: var(--second-color);
  }

  .blog-info .tag {
    margin: 0.3rem 0.2rem;
    padding: 0.125rem 0.75rem;
    box-sizing: border-box;
    border: 1px solid var(--theme-color);
    border-radius: 2px;
    font-size: 0.75rem;
    color: var(--theme-color);
  }

  .article h1 {
    font-size: 1.75rem;
    font-weight: 400;
    color: var(--primary-color);
  }
  .article h2 {
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--primary-color);
  }

  .article h3 {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--primary-color);
  }

  .article h4 {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--primary-color);
  }

  .article h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-color);
  }

  .article h6 {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--primary-color);
  }

  .article p {
    font-size: 1rem;
    line-height: 2rem;
    color: var(--primary-color);
  }

  .article a {
    position: relative;
    color: unset;
    text-decoration: none;
  }

  .article a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.0625rem;
    width: 100%;
    height: 0.0625rem;
    border-bottom: 0.0625rem solid;
  }

  .article blockquote {
    position: relative;
    margin: 0;
    padding-left: 0.875rem;
    box-sizing: border-box;
    color: var(--blockquote-color);
  }

  .article img {
    width: 100%;
  }

  .article blockquote p,
  .article blockquote li {
    color: unset;
  }

  .article blockquote::before {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    height: 100%;
    width: 0.25rem;
    background: #c1c1c1;
    border-radius: 0.125rem;
  }

  .article li {
    font-size: 1rem;
    line-height: 1.95rem;
    color: var(--primary-color);
  }

  .article ul li::marker {
    color: #d9d9d9;
  }

  .article code {
    font-family: DM Mono, Input Mono, Fira Code, monospace;
    font-size: 0.9rem;
  }

  .article p code,
  .article li code {
    font-weight: bold;
  }

  .article p code::before,
  .article li code::before,
  .article p code::after,
  .article li code::after {
    content: '`';
  }
</style>
